@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit-based browsers like Chrome */
::-webkit-scrollbar {
   display:none;
}


* {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox  */
  scrollbar-width: none;
}

.textStroke {
  @media (min-width: 1024px) {
  -webkit-text-stroke: 2px #a3a3a3;
  -webkit-text-fill-color: transparent;
  }
}
